.culture__section {
    padding: 20px;
    background-color: var(--third-color);
}

.culture__container {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.culture__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.culture__image img {
    width: 30em;
}

.culture__image-1,
.culture__image-2 {
    padding: 32px 64px;
    background-color: var(--color-white);
}

.culture__image-1 {
    border-bottom: 10px solid var(--third-color);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../assets/about_bg1.png);
}

.culture__image-2 {
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../assets/about_bg2.png);
}

.culture__button {
    position: absolute;
    right: 0;
    padding: 12px 32px;
    min-height: 64px;
    background: var(--secondary-color);
    border-radius: 32px 0 0 32px;
    border: 0;
    outline: 0;
    color: #fff;
    font-family: var(--plus-jakarta-sans);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
}

.culture__button img {
    height: 12px;
    width: 12px;
    object-fit: contain;
    margin-left: 32px;
}

.culture__content {
    padding: 64px;
    
    flex: 1;

    font-size: 1.5rem;
    color: var(--color-white);
}

.culture__content-label {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.culture__content-text {
    font-size: 3rem;
    margin-bottom: 20px;
}

.culture__content-list {
    margin-top: 40px;

    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    color: var()
}

.culture__content-list li {
    list-style-type: disc;
}