.footer {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
}

.copyright {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_social-items {
    display: flex;
    gap: 20px;
}

.footer_social-items li,
.footer_social-items li a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--secondary-color);
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}