<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/public/paifang.png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
        <title>Anime Culture</title>
    </head>

    <body id="body__anime">
        <header id="header" class="header">
            <nav class="header__nav">
              <div class="header__logo">
                <h4 class="title">Anime Culture</h4>
              </div>
      
              <ul class="header__menu">
                <li><a class="genres" href="#genres">Genres</a></li>
                <li><a class="styles" href="#styles">Styles</a></li>
                <li><a class="community" href="#community">Community</a></li>
                <li><a class="cosplay" href="#cosplay">Cosplay</a></li>
                <li><a class="manga" href="#manga">Manga</a></li>
                <li><a class="anime" href="#anime">Anime</a></li>
              </ul>
            </nav>
          </header>

        <main class="main" id="main">
            <h1 class="main__title">Anime</h1>
    
            <section id="genres" class="genres__section">
                <h2 class="genres__section-title">Genres</h2>
                <div class="genres__section-container">
                    
                </div>
            </section>
    
            <section id="styles" class="styles__section">
                <h2 class="styles__section-title">Styles</h2>
                <div class="styles__section-container">
                    
                </div>
            </section>
    
            <section id="community" class="community__section">
                <h2 class="community__section-title">Community</h2>
                <div class="community__section-container">
                    
            </section>
    
            <section id="cosplay" class="cosplay__section">
                <h2 class="cosplay__section-title">Cosplay</h2>
                <div class="cosplay__section-container">
                    
                </div>
            </section>
    
            <section id="manga" class="manga__section">
                <h2 class="manga__section-title">Manga</h2>
                <div class="manga__section-container">
                    
                </div>
            </section>
    
            <section id="anime" class="anime__section">
                <h2 class="anime__section-title">Anime</h2>
                <div class="anime__section-container">
                    
                </div>
            </section>
        </main>

        <footer id="footer" class="footer footer__anime">
            <p class="copyright">Copyright © 2023</p>
            <div class="footer__social">
              <ul class="footer_social-items">
                <li class="footer__social-item"><a href="" class="footer__social-link"><img src="static/assets/instagram.svg" alt="Instagram"></a></li>
                <li class="footer__social-item"><a href="" class="footer__social-link"><img src="static/assets/facebook.svg" alt="Facebook"></a></li>
                <li class="footer__social-item"><a href="" class="footer__social-link"><img src="static/assets/twitter.svg" alt="Twitter"></a></li>
              </ul>
            </div>
          </footer>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="../static/js/script2.js" type="module"></script>
    </body>

</html>